.baixo{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.icon{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 2px;
}
.foto img{
  width:100%;
     height:300px;
     object-fit:cover;
     object-position:50% 50%
}
