body{
   font-family: 'Prompt';font-size: 22px;
   background-color: white;
}

.grey_bar{
  width: 110%;
  height: 100px;
  background-color: #E5E5E5;
  margin-top: -1%;
  display: flex;
  margin-left: 100px;
}
.logo{
  width: 30%;
  height: 100%;
  margin-left: 55px;
}
img{
  width: 35%;
  margin-left:100px;

}
.search{
  width: 40%;
  height: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}
.search_bar{
  width: 90%;
  height: 35%;
  margin-top: 15px;
  border-radius: 1px transparent;
  overflow: hidden;
}
input{
  border-radius: 10px;
}
.lupa{
  margin-top: 10px;
  height: 80px;
}
i{
  margin-top: 35px;
  margin-left: 5px;
}
.carro_compras{
  margin-left: 160px;
  margin-right: 10px;
  margin-top: 7px;
  font-size: 30px;
}
.user{
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 7px;
  font-size: 30px;
}
.marca{
  position: absolute;
top: 4%;
left: 21.3%;
transform:translate(-50%,-50%);
}
.white_bar{
  width: 110%;
  height: 130px;
  display: inline-block;
  font-size: 15px;
  text-align: left;
}
ul{
  margin-left: 100px;
}
.white_bar li{
  float: none;
  display: inline-block;
  padding: 10px;
  margin-left: 35px;
margin-top: 10px;
}
