body{
   font-family: 'Prompt';font-size: 22px;
   background-color: white;
   height: 100%;
   margin: 0;
}

.grey_bar{
  width: 100%;
  height: 100px;
  background-color: #E5E5E5;
  display: flex;
}
.logo{
  width: 400px;
  height: 100%;
  margin-left: 15px;
}
.image img{
  width: 40%;
  margin-left:50px;
  margin-top: 10px;

}
.search{
  width: 40%;
  height: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  margin-left: -60px;

}
.search_bar{
  width: 90%;
  height: 35%;
  margin-top: 15px;
  border-radius: 1px transparent;
  overflow: hidden;
}
input{
  border-radius: 10px;
}
.lupa{
width: 30px;
height: 25px;
position: absolute;
top: 2.5%;
left: 70%;
transform:translate(-50%,-50%);
align-items: center;
justify-content: center;
text-align: center;
}
i{
  margin-top: 35px;
  margin-left: 5px;
  font-size: 20px;
}
.carro_compras{
  margin-left: 170px;
  margin-right: 10px;
  margin-top: 18px;
  font-size: 30px;
}
.user{
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 18px;
  font-size: 30px;
}
.marca{
  position: absolute;
top: 7%;
left: 12%;
transform:translate(-50%,-50%);
    font-family: 'Lucida Console';font-size: 12px;
}
.white_bar{
  width: 100%;
  height: 80px;
  display: inline-block;
  font-size: 15px;
  text-align: left;
}
ul{
  margin-left: 40px;
  margin-top: 10px;
}
.white_bar li{
  float: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  z-index: -12;
}
.white_bar li a:hover{
  opacity: 0.5;
  text-decoration: none;
}
.white_bar select{
  -webkit-border-radius: 2px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  border:none;
  font-family: 'Prompt';font-size: 20px;
  width: 25px;
}
.todos{
  font-family: 'Prompt';font-size: 17px;
}
.todos1{
  text-decoration: none;
  color: black;
    font-family: 'Prompt';font-size: 17px;

}
.samsung_select{
  margin-left: -45px;
}
.botao_pesquisa{
  background-color: Transparent;
 background-repeat:no-repeat;
 border: none;
 cursor:pointer;
 overflow: hidden;
 outline:none;
 margin-bottom: 40px;
}
form{
    width: 80%;
    margin-top: 10px;
}
.search_nav_bar{
  width: 80%;
  margin-top: -40px;

}
.col-md-5{
width: 100%;

}
.list_group{
width: 80%;
height: 100%;
position: absolute;
left: 112%;
transform:translate(-50%,-50%);
margin-top: -100px;
  z-index: +2;
}

.aa{
  width: 200px;
}

.container_ind{
  width: 100%;
  height: 500px;
  display: flex;
}
.foto{
  width: 50%;
  height: 500px;


}
.foto img{
  width: 400;
  margin-left: 150px;
  margin-top: 30px;
  z-index: -1;

}
.container_ind{
  position:absolute;
  z-index: -1;

}
.info_ind{
  width: 45%;
  margin-left: -10px;
}

.container_info{
  width: 100%;
  height: 400px;
  margin-top: 24px;
}

.nome_produto{
  width: 100%;
  height: 70px;
  margin-top: 10px;
  border-bottom: 3px solid #319ABB;
}
.qntd_disp{
  height: 30px;
}
.descricao_ind{
  height: 135px;
  margin-top: 2px;
}

.cor_capacidade{
  width: 100%;
  height: 34px;
}

.nome_ind{
  background-color: white;
  margin-top: 10px;
  height: 100%;
}
.nome_ind h3{
padding-top:35px;
}
.teste{
  padding-top: 10px;
  overflow-y: scroll;
  height: 100px;
  width: 620px;
  position: absolute;
  top: 67%;
  left: 72.5%;
  transform:translate(-50%,-50%);
}


.quantidade_cliente{
    font-family: 'Prompt';font-size: 15px;
    position: absolute;
    top: 80%;
    left: 54%;
    transform:translate(-50%,-50%);
}
.botoes_ind{
  height: 100px;
  width: 600px;
  margin-top: 40px;
  padding-left: 230px;
  padding-top: 30px;
  position: absolute;
  top: 82%;
  left: 73%;
  transform:translate(-50%,-50%);
}
.botoes_ind button{
padding: 5px;
background-color: #319ABB;
color: white;
border: transparent;
}
.botoes_ind button:hover{
  border: 1px solid black;
  color: black;
}
